body {
    color: white;
    background: lightpink;
    margin: 0px;
    font-family: "Playpen Sans", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(233, 103, 123);
    padding: 20px;
    font-size: 34px;
    color:rgb(233, 103, 123);
}


.chamada {
    background: rgb(236, 152, 232);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}
.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 28px;
}

p{
font-size: 18px
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px white solid
}

.categoria h2 {
    color: rgb(233, 103, 123);
}